<section>
	<header class="major">
		<h2>About Me</h2>
	</header>
    Things that make me happy:<br>
      - Automating things<br>
      - Optimising things<br>
      - Scaling things<br>
      - Measuring things<br>
      - Monitoring things<br>
      - Writing everything in YAML<br>
</section>
