<section>
    {{ with .Site.Params.recentposts.title }}
        <h2>{{ . }}</h2>
    {{ end }}

	<div class="row">
        <br>
        <p>
        <ol class="recent-posts">
        {{ range first 5 (where .Site.Pages "Section" "post") }}
        {{ if .Content }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        {{ end }}
        </ol>
        </p>
	</div>
</section>
